{% extends 'base.html' %}


{% block content %}

<div>
  <div style="text-align: center; max-width: 700px; margin: 4rem auto;">
    <table border="1" cellspacing="0" cellpadding="10">
      <thead>
        <tr>
          <th scope="col">거래 날짜</th>
          <th scope="col">거래 유형</th>
          <th scope="col">거래 물량</th>
          <th scope="col">거래 가격</th>
          <th scope="col">거래 성사</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ trade.traded_at }}</td>
          <td>{{ trade.trade_type }}</td>
          <td>{{ trade.quantity }}</td>
          <td>{{ trade.price }}</td>
          <td>{{ trade.result }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


{% endblock %}