{% extends 'base.html' %}


{% block content %}

<div style = "display:flex">
  <div style="text-align: center; max-width: 700px; margin: 4rem auto;">
    <table border="1" cellspacing="0" cellpadding="10">
      <thead>
        <tr>
          <th scope="col">거래 날짜</th>
          <th scope="col">거래 유형</th>
          <th scope="col">거래 물량</th>
          <th scope="col">거래 가격</th>
          <th scope="col">거래 성사</th>
        </tr>
      </thead>
      <tbody>
        {% for trade in trade_list%}
        <tr>
          <td>{{ trade.traded_at }}</td>
          <td>{{ trade.trade_type }}</td>
          <td>{{ trade.quantity }}</td>
          <td>{{ trade.price }}</td>
          <td>{% if trade.result %}성공{% else %}실패{% endif %}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7">거래 내역이 없습니다.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% endblock %}